include ../main-button/main-button

mixin dropdown(options)
  if !options
    - options = {}

  - 
    const {isBig, isExpanded, isRequired, label, state, name, inputValue, inputPlaceholder, menuItems} = options
    
    const classes = []

    classes.push(isBig ? "dropdown_big" : "")
    classes.push(isExpanded ? "dropdown_expanded" : "")
    classes.push(isBorderRounded ? "dropdown_border_rounded" : "")

  .dropdown(
    class = classes
    data-type = name
  )
    label.dropdown__field
      if label 
        span.dropdown__label= label
          if state 
            span.dropdown__state= state
      span.dropdown__input
        input.dropdown__input-element(type = "text", name = name, value = inputValue, placeholder = inputPlaceholder, required = isRequired, disabled = true)
    .dropdown__menu 
      .dropdown__items 
        each item in menuItems 
          .dropdown__item
            .dropdown__item-name= item.name 
            .dropdown__item-calculator 
              button.dropdown__item-minus(type = "button")= "-"
              .dropdown__item-counter= item.count 
              button.dropdown__item-plus(type = "button")= "+"
      if isBig 
        .dropdown__buttons 
          .dropdown__button-clear(type = "button") 
            +button({style: "simple", text: "очистить"})
          .dropdown__button-apply(type = "button")
            +button({style: "simple", text: "применить"})
      